.cm {
    width: 1cm;
    height: 1cm;
    background: blue;
}

.mm {
    width: 5mm;
    height: 5mm;
    background: brown;
}

.in {
    width: 1in;
    height: 1in;
    background: blue;
}

.px {
    width: 30px;
    height: 30px;
    background: brown;
}

.pt {
    width: 30pt;
    height: 30pt;
    background: blue;
}

.pc {
    width: 1pc;
    height: 1pc;
    background: brown;
}