.container {
  display: grid;
  color: #fff;
  background-color: gray;
  padding: 10px;

  grid-template: 100px 100px / 1fr 2fr 1fr;

  grid-gap: 10px;
}

.r1 {
  background-color: #f00;
}

.r2 {
  background-color: #00f;
}

.r3 {
  background-color: #0f0;
}

.r4 {
  background-color: #f00;
}

.r5 {
  background-color: #00f;
}

.r6 {
  background-color: #0f0;
}