.quadro {
    width: 500px; height: 400px;
    border: 1px solid;
}
.quadrado {
    width: 100px; height: 100px;
}

.quad-red {
    background: #f00;
}
.quad-blue {
    position: relative;
    
    top: 20px;
    left: 20px;
    background: #00f;
}
.quad-green {
    background: #0f0;
}