.container {
    display: flex;
    flex-wrap: wrap-reverse;


    background-color: darkgray;
    height: 400px;
    color: #fff;
}

.rect {
    width: 100px;
}

.r1 {
    background-color: red;
}
.r2 {
    background-color: blue;
}
.r3 {
    background-color: green;
}